extends layout

block content
	.two.column.stackable.ui.grid.center
		.column
			.ui.two.statistics
				.statistic
					.value= stats.longest
					.label
						| Longest (mi)
				.statistic
					.value= stats.highest
					.label
						| Highest (ft)
				.statistic
					.value= stats.total_distance
					.label
						| Total Distance (mi)
				.statistic
					.value= stats.total_climbing
					.label
						| Total Climbing (ft)
				.statistic
					.value= stats.year_distance
					.label
						| Year Distance (mi)
				.statistic
					.value= stats.year_climbing
					.label
						| Year Climbing (ft)
		.column
			table.ui.table.inverted
				thead
					th Year
					th Distance (mi)
					th Climbing (ft)
					th Time
					th Rides
				tbody
					tr
						td
							span.ui.ribbon.label.green Current
							span= stats.year
						td= stats.year_distance_decimal
						td= stats.year_climbing
						td= stats.year_time
						td= stats.year_count
					each year in years
						tr
							- if (year == years[0])
								td
									span.ui.ribbon.label.yellow PR
									span= year.year
							- else
								td= year.year
							td= year.distance
							td= year.climbing
							td= year.time
							td= year.count
	.one.column.stackable.ui.grid.center
		br
		canvas#distance

block script
	script.
		const values = [];
		const ctx = document.getElementById('distance').getContext('2d');
		new Chart(ctx, {
			type: 'line',
			data: {
				labels: ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'August', 'Sept', 'Oct', 'Nov', 'Dec'],
				datasets: [{
					data: [0, 454, 454*2, 454*3, 454*4, 454*5, 454*6, 454*7, 454*8, 454*9, 454*10, 454*11],
					fill: false,
					borderColor: 'rgb(75, 192, 192)',
					lineTension: 0
				}]
			},
			options: {
				legend: {
					display: false
				},
				title: {
					display: true,
					text: 'Distance'
				}
			}
		});